spring:
  application:
    name: fww-integrator
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/fww?currentSchema=quartz
    username: user-fww
    password: fww123
  jackson:
    property-naming-strategy: SNAKE_CASE
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  mail:
    username: AKIA2WLDYKX5LBVNBVAU
    password: BC82KOOcUgfXkCduWyf19CTPAvyH6+EE6ZQM8P1OxLQz
    host: email-smtp.ap-southeast-1.amazonaws.com
    port: 465
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
  quartz:
    scheduler-name: fww-scheduler
    auto-startup: on
    job-store-type: jdbc
    properties:
      org:
        quartz:
          jobStore:
            driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate



fww:
  core:
    url: http://localhost:8081
    username: application
    password: Testing123


app:
  jwt:
    secret: ktjycgqfpsIOZowHc4CBd5HIyxb5sGQBVwJ28l0pCEkoB2hvyEOdosD0cDJUb5cSLaeWEX58k5S3mv1kNmYBmVofZ18nHlFIlc2d
    expiration: 90000000000
  zone-id: "Asia/Jakarta"

server:
  port: 8082
  servlet:
    context-path: /api

rabbitmq:
  email:
    queue: fww-email-queue

url:
  midtrans: https://mock.apidog.com/m1/417352-0-default/midtrans/payment
  disdukcapil: https://mock.apidog.com/m1/417352-0-default/disdukcapil/citizen
  pedulilindungi: https://mock.apidog.com/m1/417352-0-default/pedulilindungi/vaccine
